body
{
	background-color: #141414;
	color: #E6E6E6;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main-container
{
	margin-left: auto;
	margin-right: auto;
}

#menuNub
{
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: #3F3F3F;
	border-bottom-left-radius: 17px;
}

#topMenu
{
	display: none;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	height: 18px;
	padding-top: 0px;
	padding-bottom: 5px;
}

#rightMenu
{
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40px;
}

#rightMenu, #topMenu
{
	background-color: #333333;
	color: #BBBBBB;
	font-size: x-small;
	text-align: center;
}

#topMenu > div
{
	display: inline-block;
	margin-left: 9px;
	margin-right: 9px;
}

#rightMenu div
{
	margin-top: 20px;
}

#rightMenu .size-menu-x
{
	margin-top: 100px;
}

.size-menu-x::before
{
	content: "x";
	color: #555555;
	font-weight: bold;
	font-size: large;
}

.size-menu-x
{
	cursor: pointer;
}

.size-title
{
	font-size: larger;
}

.size-item
{
	cursor: pointer;
}

.size-item.selected
{
	color: #FFFFFF;
}

.story-title
{
	margin-left: 24px;
	margin-right: 24px;
	padding-top: 48px;
	margin-bottom: 60px;
	font-size: xx-large;
}

.caption
{
	color: #222222; /* this is the text color for story elements that jump up too high because many images haven't loaded */
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 60px;
	font-size: large;
}

.story-coda
{
	color: #222222;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 48px;
	margin-bottom: 50px;
	font-size: x-large;
}

.fallback .caption, .fallback .story-coda
{
	color: inherit;
}